:root {
    --border: 5px solid #ddd;
    --radius: 5px;
    --gray: #ddf;
    --width: 100%;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 50px;
    
}

.header h1 {
    background-color:  black;
    color: white;
    padding: 5px;
    margin-bottom: 0;
    margin-right: 40%;
    border-radius: 5px;;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 1em;
    margin-bottom: 5px;
    list-style: none;
    padding-left: 0;
    border-radius: var(--radius);
}

.nav-bar ul li a{
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 1;
    height: 200px;
    flex: 1;
    background-image: linear-gradient(#fff 50%, #ccc 100%, #fff 0%);
    padding-right: 7%;
    font-size: 40px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 25px pink;
}

.banner h2 {
    margin: 0;
    padding-bottom: 20px;
}

.section-headings {
    display: flex;
    justify-content: space-evenly;
   width: 15%;
   border-right: var(--border);
   padding: 5% 10%;
   min-width: 270px;
}

h3 {
    font-size: 50px;
    /* float: right; */
    padding-right: 20%;
    color:  black;
}

.field {
    display: flex;
    /* flex-wrap: wrap; */
}

.field p {
    display: flex;
    width: 65%;
    padding: 5%;
    margin: 0 auto;
    align-items: center;
    min-width: 464px;
}

.field ul {
    width: 75%;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    margin: 0;
    font-size: 1.3rem;
    
}

.field ul li {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: black;
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* max-width: 65%; */
    padding: 5%;
    margin: 20px auto;
    gap: .5rem;
    /* object-fit: contain; */
}


.gallery-item {
    display: flex;
    justify-content: space-evenly;
    border: var(--border);
    min-width: 350px;
    min-height: 200px;
    width: 49.67%;
    padding-left: 5%;
    object-fit: contain;
    /* gap: 20px; */
}

.gallery-item:first-of-type {
    width: 100%;
    height: 40rem;
    background-image: url('./nature_1.jfif');
    background-size: cover;
}

.gallery-item {
    transition: all 0.5s ease-in-out;
    object-fit: fill;
}

.gallery-item:hover  {
    /* opacity: .5; */
    filter: brightness(125%);
    filter: drop-shadow(2px 2px 10px)
}    

.tag {
    transition: all 0.5s ease-in-out;
    /* object-fit: fill; */
}

.tag {
    display: flex;
    border: var(--border);
    padding: 1rem;
    position: fixed;
    left: 0;
    background-color: white;
    /* justify-content: flex-end; */
    width: 15%;
    color: black;
    font-weight: bold;
    font-size: 30px;
    object-fit: contain;
}

.tag:hover {
    filter: drop-shadow(3px 3px 10px);
}

#first-app {
    background-image: url('./clicky_circle.png');
    background-size: cover;
}

#second-app {
    background-image: url('./nature_2.jfif');
    background-size: cover;
}

#third-app {
    background-image: url('./nature_3.jfif');
    background-size: cover;
}

#fourth-app {
    background-image: url('./nature_4.jfif');
    background-size: cover;
}

#fifth-app {
    background-image: url('./nature_5.jfif');
    background-size: cover;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1289px) {
    .gallery-item {
        width: 100%;
    }
}

@media screen and (max-width: 1731px) {
    .gallery-item {
        width: 100%;
    }
}

@media screen and (max-width: 896px) {
    .field ul {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 647px) {
    .field p {
        min-width: 21em;
    }

    .banner {
        padding-right: 0px;
        left: 20px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .field {
        flex-direction: column;
    }

}
